TensorRT-8.0.1.6.Linux.x86_64-gnu.cuda-11.3.cudnn8.2.tar.gz
cudnn-11.3-linux-x64-v8.2.1.32.tgz
NVIDIA_VFX_SDK_Ubuntu18.04_0.6.5.0.tgz
.idea
tools
build
cmake-build-debug
cmake-build-debug*
NVIDIA_Video_Effects_SDK_Programming_Guide_Linux.pdf
maxine-docs
Audio_Effects_SDK.tar.gz
*mp4
.vs
out