TensorRT-8.2.5.1.Linux.x86_64-gnu.cuda-11.4.cudnn8.2.tar.gz
cudnn-linux-x86_64-8.4.0.27_cuda11.6-archive.tar.xz
NVIDIA_VFX_SDK_Linux_0.7.1.0.tgz
.idea
tools
build
cmake-build-debug
cmake-build-debug*
NVIDIA_Video_Effects_SDK_Programming_Guide_Linux.pdf
maxine-docs
Audio_Effects_SDK.tar.gz
*mp4
.vs
out