TensorRT-8.5.1.7.Linux.x86_64-gnu.cuda-11.8.cudnn8.6.tar.gz
cudnn-linux-x86_64-8.6.0.163_cuda11-archive.tar.xz
videofx-sdk-linux_0.7.2.0.tgz
.idea
tools
build
cmake-build-debug
cmake-build-debug*
NVIDIA_Video_Effects_SDK_Programming_Guide_Linux.pdf
maxine-docs
Audio_Effects_SDK.tar.gz
*mp4
.vs
out
